.device {
    stroke: #fff;
    stroke-width: 1.5px;
}

.device text{
    font: 9px helvetica;
}

.link {
    stroke: #999;
}

.link_backup {
    stroke: #D11C24;
    stroke-opacity: .6;
    stroke-dasharray: 20,10,5,5,5,10;
}
