.device {
    stroke: #fff;
    stroke-width: 1.5px;

}
text{
    font: 18px helvetica;
    text-shadow:10px 10px 10px blue;

}


li a{
    text-decoration:none ;
}
.link {
    stroke: #999;
    stroke-width : 4;
}

.faulytlink{
    stroke: #d10005;
    stroke-dasharray: 8,8;
    stroke-width : 4;
}

.parallelpath {
    stroke: #017b00;
    stroke-width : 4;
}

.linkbackup {
    stroke: #017b00;
    stroke-dasharray: 20,10,5,5,5,10;
    stroke-width : 4;
}

path.hull {
    fill: lightsteelblue;
    fill-opacity: 0.3;
}

.menu {
    border: 1px solid black;
    background-color: grey;
    display: none;
    position: relative;
}
.menu,
.menu li {
    padding: 0px;
    margin: 0px;
}
.menu li {
    color: white;
}
.menu > li:hover {
    background-color: lightblue;
    color: black;
}
ul {
    list-style-type: none;
}
div.my-legend {
    float: left;

    display: inline-block;
    border: 1px dashed #999;
    padding: 10px;

}
.menu li:hover ul {
    display:inline-block;
    position: relative;
    top: 0;
}

.my-legend .legend-title {
    text-decoration: underline;
    text-align: left;
    font: 18px helvetica;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;

}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 100%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-top: 4px;
    margin-top: 4px;
}
.my-legend ul.legend-labels li svg {
    display: block;
    float: left;
    height: 16px;
    width: 100px;
    margin-right: 5px;
    margin-left: 0;

    border: 2px solid #999;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}