.device {
    stroke: #fff;
    stroke-width: 1.5px;

}
text{
    font: 18px helvetica;
    text-shadow:10px 10px 10px blue;

}

.link {
    stroke: #999;
}

.faulytlink{
    stroke: #d10005;
    stroke-dasharray: 8,8;
}

.prallelpath {
    stroke: #5d1ed1;
    stroke-opacity: .6;
    stroke-dasharray: 15,15;
}

.linkbackup {
    stroke: #017b00;
    stroke-dasharray: 20,10,5,5,5,10;
}

path.hull {
    fill: lightsteelblue;
    fill-opacity: 0.3;
}

.menu {
    border: 1px solid black;
    background-color: grey;
    display: none;
    position: relative;
}
.menu,
.menu li {
    padding: 0px;
    margin: 0px;
}
.menu li {
    color: white;
}
.menu > li:hover {
    background-color: lightblue;
    color: black;
}
ul {
    list-style-type: none;
}
.menu li:hover ul {
    display:inline-block;
    position: relative;
    top: 0;
}


